<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">
    <title>Band Tracker</title>
  </head>
  <body>
    <h1 class="text-center jumbotron" id='header'>&#127908; Band Tracker &#127908;</h1>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
