@{
  Layout="Shared/_Layout.cshtml";
}

<div class="row well custom-well text-center">
  <h2 class="text-center">Bands</h2>
  <hr>
  <div class="col-sm-6">
    @if(Model.Count == 0)
    {
      <h3>There are no bands listed. Would you like to <a href="/bands/new">add one?</a></h3>
    }
    else
    {
      @foreach(var band in Model)
      {
        <h3><a href="/bands/@band.Id">@band.Name</a></h3>
      }
    }
  </div>
  <div class="col-sm-6">
    @if(Model.Count != 0)
    {
      <form action="/bands/delete" method="post" class="inline-form">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger">Delete all bands</button>
      </form>
    }
    <form action="/bands/new" class="inline-form">
      <button type="submit" class="btn btn-primary">Add band</button>
    </form>
    <form action="/" class="text-center inline-form">
      <button type="submit" class="btn btn-info">Home</button>
    </form>
  </div>
</div>
