@{
  Layout="Shared/_Layout.cshtml";
}

<div class="well custom-well">
  @if(Model != null)
  {
    @if(Model.ContainsKey("part2"))
    {
      <form action="/bands/new/" method="post">
        <div class="form-group">
          <label>Band name:</label>
          <input type="text" name="band-name" class="form-control" required>
        </div>
        @for(var i = 0; i < @Model["members"]; i++)
        {
          <div class="form-group">
            <label>Member name:</label>
            <input type="text" name="member-name" required class="form-control">
          </div>
        }
        <button type="submit" class="btn btn-primary">Add Venue</button>
        <input type="hidden" name="members" value='@Model["members"]' required>
      </form>
    }
  }
  else
  {
    <form action="/bands/new/members" method="get">
      <div class="form-group">
        <label>How many members are in your group?:</label>
        <select class="form-control" name="members-number" required>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Next</button>
    </form>
  }
</div>
