@{
  Layout="Shared/_Layout.cshtml";
}

<div class="row well custom-well">
  <h2 class="text-center">@Model["selected-band"].Name</h2>
  <hr>
  <div class="col-sm-6">
    <h3>Venues that this band plays at:</h3>
    @if(Model["band-venues"].Count == 0)
    {
      <h4>We know of no venues that this band plays.</h4>
    }
    else
    {
      @foreach(var venue in Model["band-venues"])
      {
        <h3>@venue.Name <small>Address: @venue.Address</small></h3>
      }
    }
  </div>
  <div class="col-sm-6">
    @if(Model["band-venues"].Count < Model["all-venues"].Count)
    {
      <form action='/bands/@Model["selected-band"].Id/venues/new' class="inline-form">
        <button type="submit" class="btn btn-primary">Add venue to list</button>
      </form>
    }
    <form action="/" class="text-center inline-form">
      <button type="submit" class="btn btn-info">Home</button>
    </form>
  </div>
</div>
