@{
  Layout="Shared/_Layout.cshtml";
}

<div class="row text-center well custom-well">
  <div class="col-sm-6">
    <h2><a href="/venues">Venues</a></h2>
  </div>
  <div class="col-sm-6">
    <h2><a href="/bands">Bands</a></h2>
  </div>
</div>
