@{
  Layout="Shared/_Layout.cshtml";
}

<h2 class="text-center">@Model["selected-venue"].Name</h2>
<hr>
<div class="row">
  <div class="col-sm-6">
    <h3>Bands who have played this venue:</h3>
    @if(Model["venue-bands"].Count ==0)
    {
      <h4>We know of no bands who have played at this venue. If you know of one who has, feel free to <a href='/venues/@Model["selected-venue"].Id/bands/add'>add them</a></h4>
    }
    else
    {
      @foreach(var band in Model["venue-bands"])
      {
        <h3>@band.Name</h3>
        <h4>Members:</h4>
        <ul>
          @foreach(var member in @band.GetMembers())
          {
            <li>@member.Name</li>
          }
        </ul>
      }
    }
  </div>
  <div class="col-sm-6">
    <p>Other stuff over here?</p>
  </div>
</div>
