@{
  Layout="Shared/_Layout.cshtml";
}

<div class="well custom-well">
  @if(Model != null)
  {
    <form action='/venues/@Model["selected-venue"].Id/edit' method="post">
      <div class="form-group">
        <label>Edit name:</label>
        <input type="text" name="venue-name-edit" class="form-control" required value='@Model["selected-venue"].Name'>
      </div>
      <div class="form-group">
        <label>Edit address:</label>
        <input type="text" name="venue-address-edit" class="form-control" required value='@Model["selected-venue"].Address'>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Save changes</button>
    </form>
  }
  else
  {
    <form action="/venues/new" method="post">
      <div class="form-group">
        <label>Venue name:</label>
        <input type="text" name="venue-name" class="form-control" required>
      </div>
      <div class="form-group">
        <label>Venue address:</label>
        <input type="text" name="venue-address" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Add Venue</button>
    </form>
  }
</div>
